.case {
  margin: 0 20px;
  max-width: 300px;
  cursor: pointer;


  &__for-title {
    display: flex;
    align-items: center;
    user-select: none;
    justify-content: flex-start;
  }

  &__title {}

  &__for-ul {
    display: none;
  }

  &__for-ul ul {
    list-style-type: none;
    margin: 0;
  }
}

.case .case__title::before {
  content: '▶ ';
  font-size: 80%;
  color: rgb(78, 78, 78);
}

.case.open .case__title::before {
  content: '▼ ';
}

.case.open .case__for-ul {
  display: block;
}

// .menu.open ul {
//   display: block;
// }